/* Add any CSS necessary for your custom content */
/*
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300italic,400,200,200italic,300,600,400italic,600italic,700italic,700,900');
*/
@import url('/logos/fonts/fonts.css');

html {
	--mpdl-darkgreen: #04725d;
	--mpdl-lightgreen: #06a385;
	--mpdl-red: #b20005;
	--mpdl-orange: #d45900;
	--mpdl-darkgray: #222222;
}

body {
	background: linear-gradient(-45deg, rgb(255, 255, 255, 0.2) 30%, transparent, rgb(255, 255, 255, 0.2) 70%) fixed, url("/logos/images/bg_pic_v2.jpg") no-repeat center bottom fixed;
	background-size: cover;
	font-family: "Titillium Web",Arial,Helvetica,Verdana,sans-serif !important;
	line-height: 1.6;
}

.container {
	background: white;
}

#content.container {
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

#dashboard-block.content div.container {
	padding-right: 0;
	padding-left: 0;
}
@media(min-width:768px){
	#dashboard-block.content div.container {
		width: 670px;
	}
}
@media(min-width:992px){
	#dashboard-block.content div.container {
		width: 890px;
	}
}
@media(min-width:1200px){
	#dashboard-block.content div.container {
		width: 1090px;
	}
}

#dataverseHeader {
	background: white !important;
	margin-top: 20px;
	margin-bottom: -20px;
}

#breadCrumbPanel {
	margin-top: 20px;
	padding-top: .5em;
	background: white !important;
	margin-bottom: -20px;
	padding-bottom: 0.5em;
}

#dataverse-header-block {
	padding-top: 72px;
	margin-left: auto;
	margin-right: auto;
}

#navbarFixed .container {
	background: transparent;
}

.nav {
	padding-top: 15px;
}

.navbar-default {
	/* background: linear-gradient(white 0 83%, transparent 83% 100%); */
	border: none;
	box-shadow: none;
	margin-left: auto;
	margin-right: auto;
	height: 72px;
}

@media(min-width:768px){
	#dataverse-header-block,
    .navbar-default {
		width: 750px;
	}
}
@media(min-width:992px){
	#dataverse-header-block,
    .navbar-default {
		width: 970px;
	}
}
@media(min-width:1200px){
	#dataverse-header-block,
    .navbar-default {
		width: 1170px;
	}
}

@media(max-width:992px){
	div#topNavBar.navbar-collapse.collapse.in,
	div#topNavBar.navbar-collapse.collapsing {
		background-color: #f8f8f8;	
	}

}
/*
ul.nav.navbar-nav.navbar-right li:nth-last-child(2),
 */
ul.nav.navbar-nav.navbar-right li a[href*="CREATE"] {
	visibility: hidden;
	width: 0;
	height: 0;
	position:absolute;
}

#navbarFixed .navbar-brand.custom-logo {
	padding: 15px 10px;
}

img.navbar-brand.custom-logo {
	width: 188px;
	height: 64px;
}

#dataverseHeader .dataverseHeaderName {
	padding: 1em 1em 0em 0em;
}

#search-row-panel.row {
	padding: 20px 0;
	border: none;
}

#messagePanel div.messagePanel {
	margin-top: 20px;
}

#messagePanel div.alert {
	margin-top: 1em;
}

.text-danger {
	color: #b20005;
	color: var(--mpdl-red);
}

.glyphicon:not(.glyphicon-user, .glyphicon-asterisk, .glyphicon-log-in, .glyphicon-chevron-left) {
	color: #04725d;
	color: var(--mpdl-darkgreen);
}

.glyphicon.glyphicon-asterisk {
	color: #d45900;
	color: var(--mpdl-orange);
}

.ui-widget,
.ui-widget input, 
.ui-widget select, 
.ui-widget textarea, 
.ui-widget button {
	font-family: "Titillium Web",Arial,Helvetica,Verdana,sans-serif !important;
}

#div-card-results > div > div,
#div-card-results > div {
	border-color: #04725d !important;
	border-color: var(--mpdl-darkgreen) !important;
}

.icon-dataset.text-info {
	color: #04725d;
	color: var(--mpdl-darkgreen);
}

div.panel-heading.text-info[data-toggle="collapse"] {
	color: #04725d;
	color: var(--mpdl-darkgreen);
}

.datasetResult {
	color: #222222;
	color: var(--mpdl-darkgray);
}

table[id$='resultsTable'] td > div.dataverseResult,
table[id$='resultsTable'] td > div.datasetResult {
	border-color: #04725d;
	border-color: var(--mpdl-darkgreen);
}

a {
	color: #04725d;
	color: var(--mpdl-darkgreen);
}

a.dataverseHeaderDataverseName,
a.facetLink,
.ui-widget-content a {
	color: #04725d !important;
	color: var(--mpdl-darkgreen) !important;
}

a:hover,
a.facetLink:hover,
.ui-widget-content a:hover {
	color: #06a385;
	color: var(--mpdl-lightgreen);
}

.ui-button.btn-link, 
.ui-button.btn-link.active, 
.ui-button.btn-link:active, 
.ui-button.btn-link[disabled], 
fieldset[disabled] .ui-button.btn-link {
	color: #04725d;
	color: var(--mpdl-darkgreen);
}

a.highlightBold, 
.dropdown-menu > li > a.highlightBold {
	color: #04725d;
	color: var(--mpdl-darkgreen);
}

.btn-link {
	color: #04725d;
	color: var(--mpdl-darkgreen);
}

.btn-link:focus, 
.btn-link:hover {
	color: #06a385;
	color: var(--mpdl-lightgreen);
}

.pagination > li > a, 
.pagination > li > span {
	color: #04725d;
	color: var(--mpdl-darkgreen);
}

.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
	background-color: #04725d;
	background-color: var(--mpdl-darkgreen);
	border-color: #04725d;
	border-color: var(--mpdl-darkgreen);
}

input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 16px;
 	height: 16px;
	padding: 0;
	margin: 4px 0 0 0;
	color: #222222;
	color: var(--mpdl-darkgray);
	background-color: rgb(230, 230, 230);
	background-position: 0px -15px;
	background-repeat: repeat-x;
 	border: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom-color: rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	display: inline-block;
	box-sizing: border-box;
}

input[type=checkbox]:focus {
    outline: none;
}

input[type=checkbox]:checked:before {
	display: block;
	background-image: url("/javax.faces.resource/images/ui-icons_333333_256x240.png.xhtml?ln=primefaces-bootstrap&v=10.0.0");
	background-position: -64px -144px;
	background-repeat: no-repeat;
	content:"\2713";
	text-indent: -99999px;
}

/* Overwrite default footer styles to make room at the bottom of the browser page for our custom footer... */

#dvfooter {
	position: relative;
	height: 135px;
	bottom: -20px;
	padding-top: 0;
}

#dvfooter .container {
	background: white;
	height: 100%;
	padding-top: 50px;
}

#dvfooter p {
	padding-top: 45px;
	padding-left: 5px;
	margin: 0;
	text-align: left;
}

#dvfooter p span {
	float: right;
	padding-right: 70px;
}

#dvfooter .col-sm-4 {
	z-index: 9;
}

#dvfooter .version {
	display: inline-block; 
	min-width: 30px;
}

/* Place custom footer just above default footer at the bottom of the page... */
/* #content.container:after, */
#custom-footer {
	background: transparent;
	color: #04725d;
	color: var(--mpdl-darkgreen);
	height: 65px;
	bottom: 100px;
	position: relative;
}

#custom-footer .container {
	background: transparent;
	height: 100%;
}

#custom-footer span {
	text-align: center;
	float: right;
	padding: 0 50px;
}

#custom-footer img#mpdl-logo {
	width: 188px;
	height: 64px;
}

#custom-footer img#re3data {
	width: 250px;
	height: auto;
}

@media only screen and (max-width: 1199px) {
	#custom-footer span {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	#dvfooter .poweredbylogo {
		display: none;
	}
}

/* Hide the dataverse advanced search panel for dataverses */
#advancedSearchForm > div.panel:nth-of-type(2) {
	display:none;
}

/* Hide the "Dataverse" search facet */
#facetType > div.clearfix:first-of-type {
	display:none;
}

/* Hide the dataverse selection on top of the page when creating or editing a dataset */
#datasetForm > div.form-group:nth-of-type(2) {
	display:none;
}

/* Hide the dataverse checkbox on My Data facets */
#dataverseUserForm\:dataRelatedToMeView\:myData #my_data_filter_column #div_dvobject_types .checkbox:first-of-type {
	display:none;
}

/* Hides on Terms tab the following panels: Restricted Files + Terms of Access and Guestbook */
#datasetForm\:tabView\:termsTab .panel-group .panel.panel-default:not(:first-of-type) {
	display: none;
}

/* Hide the Widget-tab on DatasetPage -> Edit -> Thumbnail & Widgets */
#themeWidgetsForm\:themeWidgetsTabView li:nth-of-type(2) {
	display:none;
}

/* Hide the button "Link Dataset" on DatasetPage */
#datasetForm #actionButtonBlock .btn-link-dataset {
	display:none;
}

div[data-fieldtype-name="authorAffiliation2.parent"] {
	clear: both;
}

div[data-fieldtype-name="authorAffiliation3.parent"] {
	clear: both;
}

div[data-fieldtype-name="authorAffiliationDepartment.parent"], 
div[data-fieldtype-name="authorAffiliation2Department.parent"],
div[data-fieldtype-name="authorIdentifier.parent"]{
	margin-bottom: 20px !important;
}

/* Make the autosuggest for affiliations scrollable */
.jqueryui .ui-autocomplete {
	max-height: 250px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

/* Make the file description in the single file view displaying line breaks */
#fileDescriptionBlock > td {
	white-space: pre-line;
}

/* Yellow background for dismissible alerts on top of page */
.alert.alert-dismissible.text-warning {
	background-color: #F5E236;
}

/* Substitute text */
#_2edmondImage {
	height: 14px;
	width: auto;
}

/* anchor focus */
:target {
	display: block;
	position: relative;
	top: -120px; 
}

/* CoreTrustSeal */
.core_trust_seal {
    background-image: url('/logos/images/CoreTrustSeal-logo-transparent.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 70px;
    width: 70px;
    float: right;
    cursor: pointer;
}